.about {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2%;
}

.about-left, .about-right {
  flex-direction: column;
  
}

.about-left {
  width: 60%;
  margin-top: 5rem;

}

.contato-direita {
  width: 40%;
  padding-top: 5rem;


}

.about-title {
  margin-bottom: 2rem;
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 71px;

  color: #3F1818;

  border: 1px #7A5252;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.about-box-text {
  margin: 0px 90px;
  flex-direction: column;
  font-size: 1.5rem;
}


.imagens-redesociais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30%;

}
.imagens-redesociais img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.imagens-redesociais p{
  text-align: center;
  font-family: Antic Didone;
  font-size: 1rem;
  
}

.about-box-text p {
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  /* line-height: 40px; */
  /* margin-bottom: 20px; */
  color: #000000;
}

form, label {
  display: block;
  color:#3F1818;
  font-family: Antic Didone;
  font-style: bold;
  font-weight: bolder;
  line-height: 23px;
}

form {
  width: 100%;
}

.edit-forms{
  
  width: 80%;
  height: 43px;
  left: 801px;
  top: 712px;
  background: #C4C4C4;
  border: 1px solid #7A5252;
  border-radius: 10px;


}

.footer-form {
  align-items: center;
  justify-content: space-between;
  /* width: 100%;  */
  margin-top: 1rem;
  align-self: end;
  display: flex;

  
}

label {
  margin-top: 1rem;

}

.buttonSubmit {
  float: right;
  margin-right: 1.5rem;
  padding: 1rem 1.5rem; 
  background: #C4C4C4;
  border: 1px solid #7A5252;
  border-radius: 20px;
  font-family: Antic Didone;
  font-style: bold;
  font-weight: bolder;
  text-transform: uppercase;
  color:#3F1818

}

.mensage-box{

  width: 95%;
  height: 181px;
  left: 801px;
  top: 989px; 
  background: #C4C4C4;
  border: 1px solid #7A5252;
  border-radius: 20px;
}

.mensage-recall{
  font-family: Antic Didone;
  font-style: bold;
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  color: #3F1818;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


img {
  width: 100%;
  object-fit: cover;
}

.header-test{
  width: 100%;
  height: 805px;
  margin-top: -110px;
}

.header-box-test {
    margin-top: 8rem;
    margin-bottom: -2rem;
    justify-content: center;  
    width: 40rem;
    padding: 3rem;
    background: rgba(64, 1, 1, 0.73);
}

.header-box-test h1 { 
  font-family: Antic Didone;
  font-size: 50px;
  color: #FFF;
  line-height: 4rem;


}
header {
  background: url(img/header-contato.jpg);
  background-color: #7A5252;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem;
  text-align: center;
  
}

