/*Seção de quem somos*/
.about {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 7% 100px 7%;
}

.about-left, .about-right {
  flex-direction: column;
}

.about-left {
  width: 60%;
}

.about-title {
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 50px;

  color: #3F1818;

  border: 1px #7A5252;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-box-text {
  flex-direction: column;
}

.about-box-text p {
  font-size: 35px;
  text-align: center;

  color: #000000;
}

.about-right-top, .about-right-bottom {
  justify-content: space-between;
  margin-bottom: 25px;
}

.about-right-image {
  width: 45%;
  height: 95%;
}

.about-bottom {
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.about-bottom-flags-box {
  width: 40%;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

.about-bottom-flags {
  width: 100px;
}

.about-bottom-box-text {
  align-items: center;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.about-bottom-title {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  
  color: #3F1818;
  
  border: 1px #7A5252;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-bottom-text {
  font-size: 35px;
  text-align: center;
}