/*Configuração padrão de CSS*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  margin-bottom: 50px;
}

section, div, a {
  display: flex;
}

p {
  font-family: Antic Didone;
  font-style: normal;
  font-weight: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*Configuração do CSS da header*/
.header-image {
  width: 100%;
  height: 805px;
  margin-top: -110px;
}

.header-box {
  position: absolute;
  flex-direction: column;
  align-items: center;

  padding: 25px;
  width: 740px;
  height: 190px;
  left: 200px;
  top: 200px;

  background: rgba(64, 1, 1, 0.73);
}

.header-box-home {
  position: absolute;
  flex-direction: column;
  align-items: center;

  padding: 25px;
  width: 740px;
  height: 230px;
  left: 200px;
  top: 200px;

  background: rgba(64, 1, 1, 0.73);
}

.header-box p, .header-box-home p {
  font-size: 80px;
  line-height: 95px;
  text-align: center;

  color: #FFFFFF;

  border: 2px #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-box-image {
  margin-left: 7%;
  width: 100%;
  margin-top: -150px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(0.02deg);
}

.header-buttons {
  flex-direction: row;
}

.header-button-1, .header-button-2, .header-button-3 {
  position: absolute;
  width: 15%;
  height: 13%;
  top: 570px;

  justify-content: center;
  align-items: center;

  background: rgba(64, 1, 1, 0.73);
}

.header-button-1 {
  left: 77px;
  width: 250px;
  height: 100px;
}

.header-button-2 {
  left: 355px;
  width: 250px;
  height: 100px;
}

.header-button-3 {
  left: 633px;
  width: 250px;
  height: 100px;
}

.header-button-text {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  
  color: #FFFFFF;
  
  border: 1px #ECECEC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Configuração do CSS da footer*/
footer {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

footer img {
  width: 100%;
  margin: 0 0 -300px 0;
}